body {
  margin: 0;
  width:  100%;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.align-content-middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
}

.chart {
  width: 600px;
  height: 300px;
}

#main-chart {

}