body {
  margin: 0;
  width:  100%;
  height: 100%;
}

.align-content-middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
}

.chart {
  width: 600px;
  height: 300px;
}

#main-chart {

}