body {
  width:  100%;
  height: 100%;
}

.align-content-middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width:  600px;
  height: 400px;
}

.chart-controls > label {
  float: left;
  clear: both;
}

.flotr-legend-color-box, 
.flotr-legend-label {
  padding-left:   5px;
  padding-right:  5px;
  padding-top:    2px;
  padding-bottom: 2px;
}
